# Proposal

## Data Description
### Players Data Set
<b>Summary Statistics: <br>
|      | played_hours | Age |
|------|-------------|-----|
|Mean  |5.85 | 21.14 |


<b>Variables <br>
<p>The players data set includes 196 observations and 7 variables</p>

|Variable|Data Type|Definition|
|--------|---------|----------|
|experience|Character|experience level of player|
|subscribe|Boolean|whether or not the player has subscribed to the newsletter|
|hashedEmail|Character|encrypted email address|
|played_hours|Double|Total hours played|
|name|Character|Name of player|
|gender|Character|Gender of player|
|Age|Double|Age of player in years|
 
<b> Any Possible Issues <br>
- Values under the data type Age column is double, which can lead to possible inaccurate submissions (e.g. 17.5).
- The naming of each column is not consistent. To remain consistent, use similar format (e.g. played_hours)
- The Age column has NA responses, meaning that there are errors when computing summary statistics.
- The rubric to classify a players level of experience is not provided (Does a Pro have more experience than a Veteran?)

<b> Data Collection <br>
<p>Information about the player is collected through signing up for PLaicraft with their email address. Once a player has joined the multiplayer Minecraft world, a record of the player's gameplay, speech, and key presses on the Minecraft browser are logged. </p>

##### Importing Libraries

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

##### Loading the Players dataset and Computing Summary Statistics

In [21]:
players <- read_csv("data/players.csv")
head(players)
summary_players <- players |> select(played_hours, Age) |> map_df(mean, na.rm = TRUE)
summary_players

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

  played_hours Age
1 5.845918     21.13918

## Questions

<b> Chosen Broad Question
<p><b>Question 1: </b> What player characteristics and behaviours are most predictive of subscribing to a game-related newsletter, and how do these features differ between various player types?</p>

<b> Question
<p>Can a player’s experience level and played_hours predict their subscribe status in the players.csv dataset?</p>

<b> Data Signifcance </b>

Response Variable
- subscribe

Explanatory Variable
- experience
- played_hours

<p>The model seeks to identify a relationship between the two explanatory variables and the subscription status. For instance, will players with “Pro” experience level, and high total hours be more likely to subscribe to the newsletter?</p>

<b> Wrangling Data
1. Loading the players.csv data set
2. Remove rows with NA responses
3. Convert Boolean TRUE/FALSE into 1/0 respectively
4. Convert Experience level Beginner, Amateur, Regular, Veteran, Pro into 1,2,3,4,5 respectively.